{% extends "home_admin.html" %}

{% block content2 %}

    <form method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="pregunta" placeholder="Pregunta sobre un producto">
        <br>
        <button class="btn btn-primary bg-3" type="submit">Enviar</button>
    </form>

    {% if respuesta %}
        <div class="respuesta">
            <br>
            <h5>Respuesta:</h5>
            <div class="alert alert-success" role="alert">
                
                <p>{{ respuesta }}</p>
            </div>
        </div>
    {% endif %}

{% endblock content2 %}

