{% extends "home_admin.html" %}

{% block content2 %}
<body>
    <h1>Matcher de CVs con Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Texto del perfil requerido:</label><br>
        <textarea class="form-control" name="profile_text" rows="10" cols="60" required></textarea><br><br>

        <label>Sube CVs (PDF):</label><br>
        <input class="btn btn-info" type="file" name="cv_files" multiple required><br><br>

        <button class="btn btn-primary" type="submit">Procesar</button>
    </form>

    {% if matches %}
        <h2>Top 5 CVs que mejor coinciden</h2>
        <ul>
            {% for name, score in matches %}
                <li>{{ name }} - Similaridad: {{ score|floatformat:2 }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content2 %}